@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.badge {
	padding: 0 2px;
	background-color: red;
	color: white;
	font-size: 0.75rem;
	font-weight: bold;
	border-radius: 10px;
	position: relative;
	top: -10px;
	left: -5px;
	width: 0.7rem;
}
